.map-container {
    position: relative;
    left: 80%;
    bottom: 50%;
}
.map-grid {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.map-box {
    border: 1px solid black;
    
}