.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: gray;
    color: orange;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
.menu-icon{
    padding: 5px;
}
.menu-icon:hover{
    color: white;
    cursor: pointer;
}

.side-bar-logo{
    width: 90%;
    height: auto;
}