.stats-main-row {
    position: fixed;
    top: 0;
    left: 160px;
    right: 0;
    height: 50px;
    background-color: #333;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 2;
  }
  
.stats-level{
    position: relative;
    color: white;    
}

.stats-container{
    position: relative;
}