.stats-main-row{
    left: 2px;
    top: 2px;
    z-index: 1;
    background-color: gray;
    display: grid;
    grid-row: span;  
}
.stats-level{
    position: relative;
    color: white;    
}

.stats-container{
    position: relative;
}