@import url('./css/stats.css');
@import url('./css/map.css');
@import url('./css/sidebar.css');

.main-game-controller{
  position: absolute;
  top: 50px;
  left: 160px;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow: auto;
}